$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_hotel': (
            'o-color-1': #60463B,
            'o-color-2': #260701,
            'o-color-3': #C6B9B3,
            'o-color-4': #EDEDE9,
            'o-color-5': #1B1319,
            'menu': 1,
            'footer': 3,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_hotel',
        'header-text-color': var(--o-color-5),
        'footer-template': 'minimalist',
        'menu-box-shadow': none,
        'menu-gradient': null,
        'google-fonts': ('Suranna', 'Nanum Pen Script'),
        'google-local-fonts': null,
        'uploaded-local-fonts': null,
        'headings-font': 'Suranna',
        'headings-line-height': 1,
        'h2-font': 'Suranna',
        'display-1-font': 'Nanum Pen Script',
        'display-1-line-height': 0.6,
        'logo-height': 3.75rem,
        'fixed-logo-height': 3.75rem,
        'menu-shadow-class': '',
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_hotel');
