<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="view_page_eventsss" model="ir.ui.view">
        <field name="name">Events</field>
        <field name="key">fitness.page_eventsss</field>
        <field name="type">qweb</field>
        <field name="website_id" ref="website_industry"/>
        <field name="arch" type="xml">
            <t t-name="fitness.page_eventsss">
                <t t-call="website.layout">
                    <div id="wrap" class="oe_structure oe_empty">
                        <section class="s_cover o_cc o_cc5 o_colored_level s_parallax_no_overflow_hidden s_custom_snippet oe_img_bg o_bg_img_center o_bg_img_origin_border_box pt240 pb88" data-scroll-background-ratio="0" data-snippet="s_cover" style="position: relative; background-image: url(&quot;/web/image/fitness.img_custom_fitness_image_04&quot;); background-position: 50% 21.4012%;" data-format-mimetype="image/webp" data-resize-width="1920" data-mimetype="image/webp" data-name="Custom Custom Cover (2)">
                            <div class="o_we_bg_filter" style="background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);"/>

                            <div class="s_allow_columns container">
                                <p style="text-align: center;">
                                    <img loading="lazy" style="padding-right: 10px;" class="img img-fluid o_we_custom_image" alt="" src="/web/image/fitness.img_custom_fitness_image_02" data-mimetype="undefined"/>
                                    <span class="o_small-fs">EVENTS</span>
                                </p>
                                <h1 style="text-align: center;">
                                    <span class="o_animated_text o_animate o_anim_fade_in o_visible o_anim_from_bottom" style="--wanim-intensity: 14; animation-duration: 0.5s;">UPCOMING EVENTS</span>
                                    <br/>
                                </h1>
                                <p class="lead" style="text-align: center;">
                                    <span class="o_animated_text o_animate o_anim_fade_in o_visible o_anim_from_bottom" style="--wanim-intensity: 14; animation-duration: 0.5s; color: rgba(255, 255, 255, 0.65);">Everything we're running right now, for newcomers and future instructors alike.</span>
                                    <br/>
                                </p>
                            </div>
                        </section>
                        <section data-snippet="s_events" class="s_events s_event_upcoming_snippet s_dynamic pb64 s_event_event_picture o_colored_level o_cc o_cc5 pt0 o_dynamic_snippet_loading" data-custom-template-data="{&quot;events_event_time_active&quot;:false,&quot;events_event_location_active&quot;:true}" data-number-of-records="16" data-name="Events" data-filter-id="__EXPORT_FILTER_XMLID__website_event.website_snippet_filter_event_list_unfinished__EXPORT_FILTER_XMLID__" data-template-key="website_event.dynamic_filter_template_event_event_picture" data-extra-classes="g-3"
                            data-column-classes="col-12 col-sm-6 col-lg-4">
                            <div class="s_dynamic_snippet_container container">
                                <div class="row s_nb_column_fixed">

                                    <section class="s_dynamic_snippet_holder d-none px-4 placeholder-glow o_colored_level">
                                        <div class="row">
                                            <span class="placeholder col-3 rounded"/>
                                            <span class="placeholder col-2 offset-7 rounded"/>
                                            <span class="placeholder mt-3 col-6 rounded"/>
                                        </div>
                                        <div class="row mt-4">
                                            <span class="placeholder col-12 rounded" style="height: 250px;"/>
                                        </div>
                                    </section>
                                    <section class="s_dynamic_snippet_title oe_unremovable oe_unmovable flex-column flex-md-row mb-lg-0 pb-3 pb-md-0 s_col_no_resize o_colored_level d-none">
                                        <div>
                                            <h2>LATEST EVENTS</h2>
                                            <p>
                                                <br/>
                                            </p>
                                        </div>
                                        <div> &amp;nbsp;<br/></div>
                                    </section>
                                    <section class="s_dynamic_snippet_content oe_unremovable oe_unmovable o_not_editable col s_col_no_resize o_colored_level">
                                        <div class="css_non_editable_mode_hidden">
                                            <div class="missing_option_warning alert alert-info fade show d-none d-print-none rounded-0"> Your Dynamic Snippet will be displayed here... This message is displayed because you did not provide enough options to retrieve its content.<br/>
                                            </div>
                                        </div>
                                        <div class="dynamic_snippet_template"/>
                                    </section>
                                </div>
                            </div>
                        </section>
                        <section class="s_cta_box pt80 pb80 o_colored_level o_cc o_cc5 s_custom_snippet" data-snippet="s_cta_box" data-name="Custom Box Call to Action">
                            <div class="container">
                                <div class="s_card o_card_img_horizontal flex-lg-row-reverse card o_cc o_colored_level o_cc5" data-snippet="s_card" data-vxml="001" data-name="Card" style="--card-spacer-x: 64px; --card-spacer-y: 64px; background-color: rgba(255, 255, 255, 0.15); border-radius: 20px; border:0;">
                                    <div class="card-body" style="text-align: center;">
                                        <h2 class="card-title" style="text-align: center;">NOT SURE WHERE TO START?</h2>
                                        <p class="card-text lead" style="text-align: center;">
                                            <span style="color: rgba(255, 255, 255, 0.65);">Book a free intro session and we'll build the plan with you.</span>
                                        </p>
                                        <a class="o_translate_inline btn btn-primary" href="/contactus">Book a free session</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </t>
            </t>
        </field>
    </record>
    <data noupdate="1">
        <record id="page_eventsss" model="website.page" forcecreate="0">
            <field name="view_id" ref="view_page_eventsss"/>
            <field name="url">/our-events</field>
            <field name="website_id" ref="website_industry"/>
            <field name="is_published" eval="True"/>
            <field name="website_indexed" eval="True"/>
            <field name="header_overlay" eval="True"/>
            <field name="header_text_color">text-o-color-4</field>
        </record>
    </data>
</odoo>
