$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_armadale': (
            'o-color-1': #103e1c,
            'o-color-2': #c56b44,
            'o-color-3': #FFFFFF,
            'o-color-4': #fcf8f6,
            'o-color-5': #1B1319,
            'o-cc1-headings': #103E1C,
            'o-cc2-headings': #103E1C,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_armadale',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Cormorant Garamond',
        'headings-font': 'Cormorant Garamond',
        'navbar-font': null,
        'buttons-font': 'Montserrat',
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'hamburger',
        'footer-template': 'default',
        'footer-scrolltop': false,
        'menu-shadow-class': '''',
        'menu-box-shadow-style': null,
        'logo-height': 3.75rem,
        'google-fonts': ('Cormorant Garamond', 'Montserrat'),
        'font-weight-normal': null,
        'lead-font-weight': null,
        'font-weight-bolder': null,
        'btn-font-weight': null,
        'btn-font-weight-bold': null,
        'btn-border-radius': 0rem,
        'btn-border-radius-sm': 0rem,
        'btn-border-radius-lg': 0rem,
        'btn-font-size-lg': 0.9375rem,
        'btn-padding-y-lg': 0.875rem,
        'btn-padding-x-lg': 2.1875rem,
        'btn-padding-y-sm': 0.125rem,
        'btn-padding-x': 1.25rem,
        'font-size-base': 1.125rem,
        'h2-line-height': 1,
        'headings-line-height': 1,
        'btn-font-size': 0.9375rem,
        'btn-font-size-sm': 0.875rem,
        'footer-effect': null,
        'header-links-style': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_armadale');
