.o_field_approval_state_selection {
    .o_status {
        width: 18px;
        height: 18px;
    }

    .fa-lg {
        font-size: 1.6em;
    }

    .o_status_02_changes_requested {
        color: $warning;
    }
}
