$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom': (
            'o-color-1': #143635,
            'o-color-2': #204E51,
            'o-color-3': #F5F3F0,
            'o-color-4': #FFFFFF,
            'o-color-5': #000000,
            'menu': 4,
            'footer': 4,
            'copyright-custom': '#143635',
            'o-cc4-btn-primary': #EBE8E2,
            'input': #F5F3F0,
            'o-cc1-btn-secondary': #EBE8E2,
            'o-cc4-btn-secondary': #F5F3F0,
            'o-cc2-h2': #000000,
            'o-cc2-h3': #143635,
            'o-cc4-text': #F5F3F0,
            'o-cc4-link': #FFFFFF,
            'o-cc3-link': #FFFFFF,
            'o-cc3-text': #F5F3F0,
            'o-cc1-headings': #000000,
            'o-cc5-bg': #295558,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Manrope',
        'headings-font': 'Noto Serif JP',
        'navbar-font': null,
        'buttons-font': 'Manrope',
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'default',
        'footer-template': 'default',
        'footer-scrolltop': false,
        'logo-height': 5rem,
        'fixed-logo-height': 5rem,
        'btn-font-weight': 600,
        'btn-font-weight-bold': null,
        'font-weight-normal': null,
        'lead-font-weight': null,
        'font-weight-bolder': null,
        'headings-font-weight': 300,
        'display-font-weight': 300,
        'menu-shadow-class': '''',
        'btn-border-radius': 0rem,
        'headings-font-weight-bold': null,
        'display-font-weight-bold': null,
        'google-fonts': ('Manrope', 'Jomolhari', 'Ibarra Real Nova', 'Noto Serif JP', 'Spectral', 'Trirong', 'Gentium Plus'),
        'menu-box-shadow-style': null,
        'btn-font-size-lg': 1rem,
        'btn-border-radius-lg': 0rem,
        'btn-padding-y-lg': 0.5rem,
        'btn-padding-x-lg': 0.5rem,
        'btn-padding-y': 0.75rem,
        'btn-padding-x': 1.5rem,
        'h1-font-size': 5rem,
        'headings-line-height': 0.9,
        'h2-line-height': 1.1,
        'display-1-font-size': 6.875rem,
        'h2-font': null,
        'h3-font': null,
        'h4-font': null,
        'h5-font': null,
        'h6-font': null,
        'display-1-font': null,
        'display-2-font': null,
        'display-3-font': null,
        'display-4-font': null,
        'display-4-font-size': 8.75rem,
        'h2-font-size': 3rem,
        'display-2-font-size': 6.25rem,
        'header-font-size': 0.875rem,
        'h3-line-height': 1.1,
        'input-border-width': 0.0625rem,
        'input-border-top-width': 0.0625rem,
        'input-border-right-width': 0.0625rem,
        'input-border-bottom-width': 0.0625rem,
        'input-border-left-width': 0.0625rem,
        'header-links-style': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom');
