$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_uplift': (
            'o-color-1': #A5EEFF,
            'o-color-2': #B3A8EF,
            'o-color-3': #EBFBFF,
            'o-color-4': #FFFFFF,
            'o-color-5': #142A2E,
            'footer': 1,
            'o-cc4-text': #142A2E,
            'o-cc4-link': #142A2E,
            'o-cc1-link': #142A2E,
            'o-cc3-link': #142A2E,
            'o-cc3-btn-secondary': #142A2E,
            'o-cc3-headings': #142A2E,
            'o-cc2-link': #142A2E,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_uplift',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Open Sans',
        'headings-font': 'Noto Sans',
        'navbar-font': null,
        'buttons-font': 'Roboto Mono',
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'boxed',
        'footer-template': 'call_to_action',
        'footer-scrolltop': false,
        'menu-shadow-class': '',
        'menu-box-shadow-style': null,
        'btn-border-radius': 6.25rem,
        'btn-border-radius-sm': 6.25rem,
        'btn-border-radius-lg': 6.25rem,
        'h1-font-size': 3.4375rem,
        'google-fonts': ('Roboto Mono', 'Noto Sans', 'Open Sans'),
        'font-weight-normal': null,
        'lead-font-weight': null,
        'font-weight-bolder': null,
        'btn-font-weight': null,
        'btn-font-weight-bold': null,
        'footer-effect': null,
        'input-border-radius': 0.3125rem,
        'header-links-style': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_uplift');
