.o_field_widget.o_remark_image_list { .o_kanban_renderer { --KanbanRecord-width: 150px !important;
    .o_kanban_record { width: var(--KanbanRecord-width) !important;
        .o_squared_image, .card-img-top, .img { width: 100% !important; max-width: 150px !important;}}}}