$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom': (
            'o-color-1': #D62F25,
            'o-color-2': #C4C4C0,
            'o-color-3': #F4F2EE,
            'o-color-4': #FFFFFF,
            'o-color-5': #1C1C1C,
            'footer': 1,
            'o-cc1-btn-secondary': #1C1C1C,
            'o-cc2-btn-secondary': #1C1C1C,
            'o-cc3-btn-secondary': #1C1C1C,
            'o-cc1-link': #1C1C1C,
            'o-cc1-btn-primary': #D62F25,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': null,
        'headings-font': 'Newsreader',
        'navbar-font': null,
        'buttons-font': null,
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'default',
        'footer-template': 'default',
        'footer-scrolltop': false,
        'btn-border-radius': 0rem,
        'btn-padding-y': 0.625rem,
        'btn-padding-x': 1.25rem,
        'input-border-radius': 0rem,
        'google-fonts': ('Newsreader'),
        'h1-font-size': 4rem,
        'h2-font-size': 3.25rem,
        'btn-secondary-outline': true,
        'btn-secondary-flat': false,
        'logo-height': 2rem,
        'fixed-logo-height': 2rem,
        'menu-box-shadow': none,
        'menu-shadow-class': '',
        'header-links-style': 'underline',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom');
