$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_valleverde': (
            'o-color-1': #00A57A,
            'o-color-2': #87857d,
            'o-color-3': #F0F0F0,
            'o-color-4': #FFFFFF,
            'o-color-5': #292929,
            'menu': 1,
            'footer': 4,
            'o-cc1-headings': #292929,
            'o-cc1-text': #292929,
            'o-cc1-link': #292929,
            'o-cc4-link': #FFFFFF,
            'o-cc1-h3': #000000,
            'o-cc1-btn-primary': #00a57a,
            'o-cc2-btn-primary': #171717,
            'o-cc2-bg': #EDEDED,
            'o-cc5-bg': #292929,
            'input': #2EA76B00,
            'o-cc4-btn-secondary': #FFFFFF,
            'o-cc5-link': #26FFC6,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_valleverde',
        'menu-shadow-class': '''',
        'footer-template': 'default',
        'header-scroll-effect': 'fixed',
        'footer-gradient': null,
        'navbar-font': 'Geist Mono',
        'google-fonts': ('DM Sans', 'DM Serif Display', 'Fjalla One', 'Space Grotesk', 'Newsreader', 'Instrument Serif', 'Urbanist', 'Cutive Mono', 'Geist Mono', 'Cormorant Garamond', 'EB Garamond'),
        'font': 'Geist Mono',
        'font-weight-normal': null,
        'lead-font-weight': null,
        'font-weight-bolder': null,
        'headings-font': 'Inter Tight',
        'headings-font-weight': null,
        'headings-font-weight-bold': null,
        'display-font-weight': null,
        'display-font-weight-bold': null,
        'menu-gradient': null,
        'logo-height': 1.5625rem,
        'fixed-logo-height': 1.5625rem,
        'header-links-style': 'underline',
        'body-line-height': 1.25,
        'headings-line-height': 1,
        'header-font-size': 0.875rem,
        'display-1-font': 'Geist Mono',
        'display-1-line-height': 0.75,
        'footer-effect': null,
        'o-cc4-bg-gradient': null,
        'display-2-line-height': 0.9,
        'display-2-font-size': 6.25rem,
        'o-cc2-bg-gradient': null,
        'header-template': 'default',
        'menu-box-shadow-style': null,
        'hamburger-position': 'left',
        'o-cc5-bg-gradient': null,
        'h2-font': 'Inter Tight',
        'input-border-radius': 0rem,
        'input-border-width': 0rem,
        'input-border-top-width': 0rem,
        'input-border-right-width': 0rem,
        'input-border-bottom-width': 0rem,
        'input-border-left-width': 0rem,
        'btn-border-radius': 0rem,
        'btn-padding-y': 0.75rem,
        'btn-padding-x': 1.5rem,
        'link-underline': 'never',
        'btn-border-radius-sm': 0rem,
        'btn-border-radius-lg': 0rem,
        'btn-font-size-sm': 0.75rem,
        'btn-padding-y-sm': 0.5rem,
        'btn-padding-x-sm': 1.125rem,
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
        'footer-scrolltop': false,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_valleverde');
