$o-color-palettes: map-merge($o-color-palettes,
        ('custom': ('o-color-1': #000000,
                'o-color-2': #E6E6E6,
                'o-color-3': #F2EDE4,
                'o-color-4': #FFFFFF,
                'o-color-5': #141210,
                'menu': 1,
                'footer': 1,
                'copyright': 1,
                'o-cc5-link': #FFFFFF,
                'o-cc5-btn-primary': #FFFFFF,
                'o-cc5-btn-secondary': #F2EDE4,
                'o-cc4-btn-primary': #FFFFFF,
                'o-cc4-btn-secondary': #F2EDE4,
            ),
        ),
    );
$o-website-values-palettes: (
    ('color-palettes-name': 'custom',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': Inter,
        'headings-font': 'Gilda Display',
        'navbar-font': 'Inter',
        'buttons-font': 'Inter',
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'default',
        'footer-template': 'default',
        'footer-scrolltop': false,
        'btn-border-radius': 0rem,
        'btn-border-radius-sm': 0rem,
        'btn-border-radius-lg': 0rem,
        'menu-shadow-class': '' '',
        'menu-box-shadow-style': null,
        'header-links-style': 'underline',
        'headings-font-weight': null,
        'headings-font-weight-bold': null,
        'display-font-weight': null,
        'display-font-weight-bold': null,
        'google-fonts': ('Gilda Display', 'Gilda Display', 'Fraunces'),
        'h1-font-size': 3.5rem,
        'h2-font-size': 3rem,
        'input-border-radius': 0rem,
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);
$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom');
