$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_zenith': (
            'o-color-1': #3D5AFE,
            'o-color-2': #FF6B5C,
            'o-color-3': #EBEEFE,
            'o-color-4': #FFFFFF,
            'o-color-5': #2B2B2B,
            'footer': 4,
            'o-cc2-bg': #EBEFFF,
            'o-cc4-link': #FFFFFFCC,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_zenith',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Nunito',
        'headings-font': 'Khand',
        'navbar-font': null,
        'buttons-font': null,
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'default',
        'footer-template': 'mega',
        'footer-scrolltop': false,
        'font-weight-normal': null,
        'lead-font-weight': null,
        'font-weight-bolder': null,
        'google-fonts': ('Khand', 'Nunito'),
        'headings-font-weight': 700,
        'headings-font-weight-bold': null,
        'display-font-weight': 700,
        'display-font-weight-bold': null,
        'footer-effect': 'slideout_slide_hover',
        'menu-shadow-class': '',
        'header-links-style': 'block',
        'input-border-radius': 0.5rem,
        'input-border-radius-sm': 0.25rem,
        'input-border-radius-lg': 0.5rem,
        'display-1-line-height': 1,
        'h2-line-height': 1.1,
        'menu-box-shadow-style': null,
        'h3-font-size': 2rem,
        'header-font-size': 1rem,
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_zenith');
