$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'ludiplay': (
            'o-color-1': #FFD233,
            'o-color-2': #22C7B7,
            'o-color-3': #FFF8EE,
            'o-color-4': #EDEDE9,
            'o-color-5': #211A3B,
            'menu': 3,
            'footer': 3,
            'header-sales_one': 2,
            'o-cc4-btn-primary': #211A3B,
            'o-cc4-link': #211A3B,
            'o-cc4-btn-secondary': #211A3B,
            'o-cc1-bg': #FFF8EE,
            'o-cc1-btn-primary': #211A3B,
            'o-cc1-btn-secondary': #211A3B,
            'o-cc1-link': #211A3B,
            'o-cc2-bg': #FFD233,
            'o-cc2-text': #211A3B,
            'o-cc2-headings': #211A3B,
            'o-cc2-btn-primary': #211A3B,
            'o-cc2-btn-secondary': #211A3B,
            'o-cc2-link': #211A3B,
            'o-cc3-bg': #211A3B,
            'o-cc3-link': #FFD233,
            'o-cc3-btn-secondary': #FFD233,
            'o-cc4-bg': #22C7B7,
            'o-cc5-bg': #FFFFFF,
            'o-cc5-text': #211A3B,
            'o-cc5-headings': #211A3B,
            'o-cc5-link': #211A3B,
            'o-cc5-btn-primary': #211A3B,
            'o-cc5-btn-secondary': #211A3B,
            'input': #FFF8EE,
            'o-cc1-text': #4B4460,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'ludiplay',
        'logo-height': 3.5rem,
        'fixed-logo-height': 3.5rem,
        'header-template': 'sales_one',
        'menu-shadow-class': '''',
        'menu-box-shadow-style': null,
        'headings-font': 'Baloo 2',
        'google-fonts': ('Baloo 2', 'Nunito'),
        'font': 'Nunito',
        'headings-font-weight': 700,
        'display-font-weight': 700,
        'headings-font-weight-bold': 800,
        'display-font-weight-bold': 800,
        'btn-secondary-outline': true,
        'btn-secondary-flat': false,
        'hamburger-position-mobile': 'left',
        'header-text-color': var(--o-color-4),
        'menu-secondary-gradient': null,
        'menu-gradient': null,
        'font-weight-normal': 400,
        'lead-font-weight': 400,
        'font-weight-bolder': 700,
        'footer-template': 'call_to_action',
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'footer-gradient': null,
        'display-1-font-size': 3.75rem,
        'buttons-font': 'Baloo 2',
        'btn-font-weight': 500,
        'btn-font-weight-bold': null,
        'btn-border-radius': 0.5rem,
        'btn-border-radius-sm': 0.25rem,
        'btn-border-radius-lg': 1rem,
        'paragraph-margin-bottom': 16px,
        'headings-margin-bottom': 16px,
        'btn-padding-y': 0.625rem,
        'btn-padding-x': 1.25rem,
        'btn-padding-y-sm': 0.25rem,
        'btn-secondary-outline-border-width': 0.125rem,
        'header-links-style': 'underline',
        'input-border-radius': 0.5rem,
        'input-border-width': 0.125rem,
        'input-border-top-width': 0.125rem,
        'input-border-right-width': 0.125rem,
        'input-border-bottom-width': 0.125rem,
        'input-border-left-width': 0.125rem,
        'header-scroll-effect': 'fixed',
        'portal-gradient': null,
        'hamburger-position': 'left',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
        'footer-scrolltop': false,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'ludiplay');
