$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_star_brew': (
            'o-color-1': #1c4d8e,
            'o-color-2': #4989c4,
            'o-color-3': #deecf2,
            'o-color-4': #f8f8f6,
            'o-color-5': #000000,
            'menu': 1,
            'footer': 4,
            'o-cc1-headings': #1C4D8E,
            'o-cc4-link': #FFFFFF,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_star_brew',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Space Grotesk',
        'headings-font': 'Space Grotesk',
        'navbar-font': null,
        'buttons-font': null,
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'hamburger',
        'footer-template': 'minimalist',
        'footer-scrolltop': false,
        'google-fonts': ('Space Grotesk'),
        'headings-font-weight': null,
        'headings-font-weight-bold': null,
        'display-font-weight': null,
        'display-font-weight-bold': null,
        'h1-font-size': 3.125rem,
        'h2-font-size': 2.8125rem,
        'headings-line-height': 1,
        'btn-primary-outline': false,
        'btn-primary-flat': false,
        'btn-secondary-outline': false,
        'btn-secondary-flat': false,
        'btn-padding-x': 1rem,
        'btn-padding-x-sm': 0.5rem,
        'btn-padding-y-lg': 1rem,
        'btn-padding-x-lg': 2.5rem,
        'btn-border-radius': 6.25rem,
        'btn-border-radius-sm': 6.25rem,
        'btn-border-radius-lg': 6.25rem,
        'input-border-radius': 0.4rem,
        'menu-shadow-class': '''',
        'menu-box-shadow-style': null,
        'logo-height': 6.25rem,
        'fixed-logo-height': 5rem,
        'header-links-style': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_star_brew');
