$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom': (
            'o-color-1': #BDAC89,
            'o-color-2': #7493e7,
            'o-color-3': #041913,
            'o-color-4': #041913,
            'o-color-5': #FFFFFF,
            'menu': 2,
            'footer': 1,
            'o-cc5-link': #FFFFFF,
            'o-cc2-headings': #FFFFFF,
            'input': #DAD1BE,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Montserrat',
        'headings-font': 'Instrument Serif',
        'navbar-font': null,
        'buttons-font': null,
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'default',
        'footer-template': 'descriptive',
        'footer-scrolltop': true,
        'google-fonts': ('Instrument Serif'),
        'btn-secondary-outline': false,
        'btn-secondary-flat': false,
        'font-weight-normal': null,
        'lead-font-weight': null,
        'font-weight-bolder': null,
        'logo-height': 4rem,
        'fixed-logo-height': 4rem,
        'header-scroll-effect': 'scroll',
        'h2-font-size': 3.5rem,
        'h3-font-size': 3rem,
        'h4-font-size': 2.5rem,
        'h5-font-size': 2rem,
        'h6-font-size': 1.5rem,
        'header-font-size': 1rem,
        'h3-line-height': 0.8,
        'header-links-style': 'default',
        'btn-border-radius': 1.375rem,
        'menu-shadow-class': '''',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom');
