$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_florist': (
            'o-color-1': #667343,
            'o-color-2': #F0CDA8,
            'o-color-3': #F6F5F4,
            'o-color-4': #F4F3EE,
            'o-color-5': #272E0F,
            'menu': 1,
            'footer': 1,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_florist',
        'menu-box-shadow': none,
        'header-template': 'default',
        'header-text-color': var(--o-color-5),
        'headings-font': 'Cormorant Upright',
        'google-fonts': ('Shippori Mincho B1', 'Cormorant Upright', 'Liu Jian Mao Cao'),
        'headings-line-height': 0.8,
        'display-1-font-size': o-to-rem(100px),
        'menu-gradient': null,
        'font': 'Shippori Mincho B1',
        'footer-gradient': null,
        'display-4-font': 'Liu Jian Mao Cao',
        'header-links-style': 'default',
        'footer-template': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
        'footer-scrolltop': false,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_florist');
