$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'bike_shop': (
            'o-color-1': #B32836,
            'o-color-2': #C9E2EF,
            'o-color-3': #F5F5F5,
            'o-color-4': #FFFFFF,
            'o-color-5': #1D1D1B,
            'footer': 5,
            'copyright': 5,
            'o-cc5-btn-primary': #FFFFFF,
            'o-cc4-btn-primary': #FFFFFF,
            'o-cc1-btn-secondary': #1D1D1B,
            'o-cc2-btn-secondary': #1D1D1B,
            'o-cc4-btn-secondary': #FFFFFF,
            'o-cc1-link': #1D1D1B,
            'o-cc2-link': #1D1D1B,
            'o-cc5-link': #FFFFFF,
            'menu-border-color': #21252914,

        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'bike_shop',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'headings-font': 'Manrope',
        'google-fonts': ('Lexend', 'Manrope'),
        'headings-font-weight': 800,
        'display-font-weight': 800,
        'menu-border-width': 1px,
        'menu-shadow-class': '''',
        'font': 'Manrope',
        'logo-height': 4rem,
        'fixed-logo-height': 4rem,
        'btn-padding-y': 0.625rem,
        'btn-padding-x': 1.25rem,
        'btn-border-radius': 0.625rem,
        'headings-font-weight-bold': null,
        'display-font-weight-bold': null,
        'btn-secondary-outline': true,
        'btn-secondary-flat': false,
        'h1-font-size': 4rem,
        'h2-font-size': 3.5rem,
        'footer-template': 'default',
        'input-border-radius': 0.625rem,
        'input-padding-y': 0.625rem,
        'input-padding-x': 1rem,
        'header-template': 'default',
        'header-links-style': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
        'footer-scrolltop': false,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'bike_shop');
