$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_hair': (
            'o-color-1': #3F4021,
            'o-color-2': #D8C09C,
            'o-color-3': #F7F6F5,
            'o-color-4': #FFFFFF,
            'o-color-5': #1B1319,
            'menu': 4,
            'footer': 4,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_hair',
        'menu-box-shadow': none,
        'menu-shadow-class': '',
        'display-3-font': 'Forum',
        'google-fonts': ('Forum', 'Faculty Glyphic', 'DM Sans'),
        'menu-border-width': 0px,
        'display-3-line-height': 1.2,
        'headings-font': 'Faculty Glyphic',
        'h2-font': 'DM Sans',
        'h2-line-height': 0.8,
        'headings-line-height': 1,
        'menu-gradient': null,
        'header-template': 'default',
        'font': 'DM Sans',
        'footer-template': 'centered',
        'footer-gradient': null,
        'footer-effect': 'slideout_slide_hover',
        'h2-font-size': 4.375rem,
        'header-links-style': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
        'footer-scrolltop': false,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_hair');
