$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_black_needle': (
            'o-color-1': #111418,
            'o-color-2': #c0392b,
            'o-color-3': #F2E9D8,
            'o-color-4': #FFFFFF,
            'o-color-5': #000000,
            'menu': 5,
            'copyright': 5,
            'o-cc5-btn-primary': #FFFFFF,
            'o-cc5-btn-secondary': #FFFFFF,
            'o-cc5-link': #C0392B,
            'o-cc4-btn-primary': #C0392B,
            'o-cc4-btn-secondary': #FFFFFF,
            'o-cc3-btn-secondary': #FFFFFF,
            'o-cc4-link': #F2E9D8,
            'o-cc1-link': #C0392B,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_black_needle',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Lekton',
        'headings-font': 'Schibsted Grotesk',
        'navbar-font': 'Cutive Mono',
        'buttons-font': 'Lekton',
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'default',
        'footer-template': 'minimalist',
        'footer-scrolltop': false,
        'google-fonts': ('Special Gothic', 'Chivo Mono', 'Source Code Pro', 'Inconsolata', 'Cutive Mono', 'Lekton', 'Schibsted Grotesk', 'Pirata One', 'Comme'),
        'font-weight-normal': null,
        'lead-font-weight': null,
        'font-weight-bolder': null,
        'headings-font-weight': null,
        'headings-font-weight-bold': null,
        'display-font-weight': null,
        'display-font-weight-bold': null,
        'btn-font-weight': null,
        'btn-font-weight-bold': null,
        'logo-height': 4.375rem,
        'menu-shadow-class': '',
        'menu-box-shadow-style': null,
        'fixed-logo-height': 3.125rem,
        'btn-secondary-outline': true,
        'btn-secondary-flat': false,
        'btn-border-radius': 0rem,
        'h1-font-size': 3.75rem,
        'h2-font-size': 3.75rem,
        'btn-padding-y': 0.5rem,
        'btn-padding-x': 0.875rem,
        'h3-font-size': 3.125rem,
        'header-links-style': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_black_needle');
