<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data noupdate="1">
    <!-- Remove default menus copied onto the website: website.menu_home, website_sale.menu_shop, website_appointment.menu_appointment -->
    <function name="unlink" model="website.menu">
      <value model="website.menu" eval="obj().search([('url', 'in', ['/', '/shop', '/appointment']), ('website_id', '=', ref('toy_store.website_industry'))]).ids"/>
    </function>
    <!-- Custom menu: Categories -->
    <record id="menu_categories" model="website.menu">
      <field name="name">Categories</field>
      <field name="url">#</field>
      <field name="parent_id" model="website.menu" search="[('parent_id', '=', False), ('website_id', '=', ref('toy_store.website_industry'))]"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="10"/>
    </record>
    <!-- Custom menu: Board games -->
    <record id="menu_board_games" model="website.menu">
      <field name="name">Board games</field>
      <field name="url">/shop/category/board-games-1</field>
      <field name="parent_id" ref="menu_categories"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="10"/>
    </record>
    <!-- Custom menu: Puzzles -->
    <record id="menu_puzzles" model="website.menu">
      <field name="name">Puzzles</field>
      <field name="url">/shop/category/puzzles-2</field>
      <field name="parent_id" ref="menu_categories"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="20"/>
    </record>
    <!-- Custom menu: Plush toys -->
    <record id="menu_plush_toys" model="website.menu">
      <field name="name">Plush toys</field>
      <field name="url">/shop/category/plush-toys-3</field>
      <field name="parent_id" ref="menu_categories"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="30"/>
    </record>
    <!-- Custom menu: Blocks -->
    <record id="menu_blocks" model="website.menu">
      <field name="name">Blocks</field>
      <field name="url">/shop/category/building-blocks-and-sets-4</field>
      <field name="parent_id" ref="menu_categories"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="40"/>
    </record>
    <!-- Custom menu: Arts and crafts -->
    <record id="menu_arts_and_crafts" model="website.menu">
      <field name="name">Arts and crafts</field>
      <field name="url">/shop/category/arts-and-crafts-5</field>
      <field name="parent_id" ref="menu_categories"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="50"/>
    </record>
    <!-- Custom menu: Outdoors -->
    <record id="menu_outdoors" model="website.menu">
      <field name="name">Outdoors</field>
      <field name="url">/shop/category/outdoors-6</field>
      <field name="parent_id" ref="menu_categories"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="60"/>
    </record>
    <!-- Custom menu: The store -->
    <record id="menu_the_store" model="website.menu">
      <field name="name">The store</field>
      <field name="url">/about</field>
      <field name="parent_id" model="website.menu" search="[('parent_id', '=', False), ('website_id', '=', ref('toy_store.website_industry'))]"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="20"/>
    </record>
    <!-- Custom menu: Board game nights -->
    <record id="menu_board_game_nights" model="website.menu">
      <field name="name">Board game nights</field>
      <field name="url">/board-game-nights</field>
      <field name="parent_id" model="website.menu" search="[('parent_id', '=', False), ('website_id', '=', ref('toy_store.website_industry'))]"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="30"/>
    </record>
    <!-- Custom menu: Contact -->
    <record id="menu_contact" model="website.menu">
      <field name="name">Contact</field>
      <field name="url">/contactus</field>
      <field name="parent_id" model="website.menu" search="[('parent_id', '=', False), ('website_id', '=', ref('toy_store.website_industry'))]"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="40"/>
    </record>
  </data>
</odoo>
