<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data noupdate="1">
    <!-- Website menus - parent_id via search on root (url=#) -->
    <!-- Custom menu: About Us -->
    <record id="menu_about_us" model="website.menu">
      <field name="name">About Us</field>
      <field name="url">/about-us</field>
      <field name="parent_id" model="website.menu" search="[('url', '=', '#'), ('website_id', '=', ref('micro_brewery.website_industry'))]"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="2"/>
      <field name="is_visible" eval="True"/>
    </record>
    <!-- Default menu (rename/reorder): Home -->
    <function name="write" model="website.menu">
      <value model="website.menu" search="[('url', '=', '/'), ('website_id', '=', ref('micro_brewery.website_industry'))]"/>
      <value eval="{'name': 'Home', 'sequence': 10, 'is_visible': True}"/>
    </function>
    <!-- Default menu (rename/reorder): Book a Visit -->
    <function name="write" model="website.menu">
      <value model="website.menu" search="[('url', '=', '/appointment'), ('website_id', '=', ref('micro_brewery.website_industry'))]"/>
      <value eval="{'name': 'Book a Visit', 'sequence': 3, 'is_visible': True}"/>
    </function>
    <!-- Default menu (rename/reorder): Shop -->
    <function name="write" model="website.menu">
      <value model="website.menu" search="[('url', '=', '/shop'), ('website_id', '=', ref('micro_brewery.website_industry'))]"/>
      <value eval="{'name': 'Shop', 'sequence': 1, 'is_visible': True}"/>
    </function>
    <!-- Custom menu: Contact us -->
    <record id="menu_contactus" model="website.menu">
      <field name="name">Contact us</field>
      <field name="url">/contactus</field>
      <field name="parent_id" model="website.menu" search="[('url', '=', '#'), ('website_id', '=', ref('micro_brewery.website_industry'))]"/>
      <field name="website_id" ref="website_industry"/>
      <field name="sequence" eval="4"/>
      <field name="is_visible" eval="True"/>
    </record>
  </data>
</odoo>
