$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom': (
            'o-color-1': #E6A94E,
            'o-color-2': #294A3A,
            'o-color-3': #F2F3EE,
            'o-color-4': #FFFFFF,
            'o-color-5': #16231C,
            'menu': 2,
            'footer': 3,
            'o-cc2-btn-primary': #294A3A,
            'o-cc3-headings': #FFFFFF,
            'o-cc2-link': #294A3A,
            'input': #FFFFFF,
            'o-cc3-link': #FFFFFF,
            'o-cc1-link': #E6A94E,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Inter',
        'headings-font': 'Bricolage Grotesque',
        'navbar-font': null,
        'buttons-font': null,
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'default',
        'footer-template': 'default',
        'footer-scrolltop': false,
        'google-fonts': ('Bricolage Grotesque'),
        'menu-shadow-class': '',
        'btn-border-radius': 1.875rem,
        'btn-padding-y': 0.75rem,
        'btn-padding-x': 1.5rem,
        'logo-height': 1.625rem,
        'fixed-logo-height': 1.5rem,
        'h1-font-size': 4rem,
        'h2-font-size': 3rem,
        'btn-secondary-outline': true,
        'btn-secondary-flat': false,
        'btn-secondary-outline-border-width': 0.125rem,
        'header-links-style': 'underline',
        'header-text-color': var(--o-color-2),
        'footer-effect': null,
        'input-border-radius': 0.75rem,
        'input-border-width': 0.0625rem,
        'input-padding-y': 0.625rem,
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom');
