$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom': (
            'o-color-1': #f7c526,
            'o-color-2': #ff3300,
            'o-color-3': #efe8da,
            'o-color-4': #ffffff,
            'o-color-5': #26241e,
            'menu': 1,
            'footer': 2,
            'copyright-custom': NULL,
            'copyright': 1,
            'o-cc5-bg': #26241E,
            'o-cc1-link': #26241E,
            'o-cc1-btn-secondary': #F7C526,
            'o-cc2-link': #26241E,
            'o-cc5-text': #E8E1D1,
            'o-cc5-headings': #FFFFFF,
            'o-cc5-btn-secondary': #FFFFFF,
            'o-cc4-link': #26241E,
            'o-cc1-btn-primary': #26241E,
            'o-cc1-text': #26241E,
            'o-cc1-headings': #26241E,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Bricolage Grotesque',
        'headings-font': 'Bricolage Grotesque',
        'navbar-font': null,
        'buttons-font': 'Bricolage Grotesque',
        'color-palettes-number': null,
        'btn-ripple': true,
        'header-template': 'default',
        'footer-template': 'default',
        'footer-scrolltop': false,
        'menu-box-shadow': none,
        'google-fonts': ('Bricolage Grotesque'),
        'fixed-logo-height': 5rem,
        'logo-height': 5rem,
        'btn-secondary-outline': false,
        'btn-secondary-flat': true,
        'btn-primary-outline': false,
        'btn-primary-flat': true,
        'font-size-base': 1.125rem,
        'small-font-size': 0.9375rem,
        'h1-font-size': 3.5rem,
        'link-underline': 'always',
        'btn-border-radius': 0rem,
        'btn-border-radius-sm': 0rem,
        'btn-border-radius-lg': 0rem,
        'btn-font-size-sm': 1rem,
        'btn-font-size-lg': 1.1875rem,
        'header-links-style': 'underline',
        'btn-padding-y': 0.4375rem,
        'btn-padding-y-lg': 0.625rem,
        'btn-padding-x-lg': 1.5rem,
        'input-padding-y-lg': 0.5625rem,
        'input-padding-y': 0.4375rem,
        'input-padding-x': 1rem,
        'input-padding-x-lg': 1.5rem,
        'input-padding-y-sm': 0.3125rem,
        'input-padding-x-sm': 0.75rem,
        'input-border-radius': 0rem,
        'h6-font-size': 1.3125rem,
        'h5-font-size': 1.5rem,
        'h4-font-size': 1.8125rem,
        'h2-font-size': 2.9375rem,
        'display-2-font-size': 4.75rem,
        'headings-line-height': 1.21,
        'display-1-font-size': 5.25rem,
        'header-scroll-effect': 'disappears',
        'header-text-color': null,
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom');
