.o_so_form {
    .o_form_sheet {padding-bottom: 0 !important;}
    .o_form_sheet_bg {max-width: 100% !important;}
    .o_form_renderer {display: block !important; .o-mail-ChatterContainer {width:100% !important;}}
}
