$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_art_book': (
            'o-color-1': #ef4826,
            'o-color-2': #C6B9B3,
            'o-color-3': #260701,
            'o-color-4': #EDEDE9,
            'o-color-5': #000000,
            'footer': 1,
            'o-cc1-link': #000000,
            'o-cc4-link': #FFFFFF,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_art_book',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Recursive',
        'headings-font': 'Recursive',
        'navbar-font': null,
        'buttons-font': null,
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'default',
        'footer-template': 'centered',
        'footer-scrolltop': false,
        'font-size-base': 1rem,
        'input-font-size': 1rem,
        'google-fonts': ('Recursive'),
        'headings-font-weight': null,
        'headings-font-weight-bold': null,
        'display-font-weight': null,
        'display-font-weight-bold': null,
        'btn-border-radius': 0rem,
        'btn-border-radius-sm': 0rem,
        'btn-border-radius-lg': 0rem,
        'input-border-radius': 0rem,
        'input-border-radius-sm': 0rem,
        'input-border-radius-lg': 0rem,
        'menu-shadow-class': '''',
        'menu-box-shadow-style': null,
        'logo-height': 2.5rem,
        'menu-border-width': 0px,
        'display-4-font-size': 3.125rem,
        'btn-padding-y-lg': 0.625rem,
        'btn-padding-x-lg': 1.5625rem,
        'header-links-style': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_art_book');
