/*Still display text when 1-day pill in month view*/
.o_booking_occupancy_gantt { .o_gantt_pill_title {max-width: 100% !important;}}
/* 
    Custom Heatmap for Occupancy Gantt (Yellow to Red) 
    Overrides the Gantt's default colors (.o_gantt_color_{color field value})
*/
.o_booking_occupancy_gantt .o_gantt_color_0 { background-color: #ffdc00 !important; }
.o_booking_occupancy_gantt .o_gantt_color_1 { background-color: #fbc904 !important; }
.o_booking_occupancy_gantt .o_gantt_color_2 { background-color: #f6b609 !important; }
.o_booking_occupancy_gantt .o_gantt_color_3 { background-color: #f2a30d !important; }
.o_booking_occupancy_gantt .o_gantt_color_4 { background-color: #ed9011 !important; }
.o_booking_occupancy_gantt .o_gantt_color_5 { background-color: #e97d16 !important; }
.o_booking_occupancy_gantt .o_gantt_color_6 { background-color: #e4691a !important; }
.o_booking_occupancy_gantt .o_gantt_color_7 { background-color: #e0561e !important; }
.o_booking_occupancy_gantt .o_gantt_color_8 { background-color: #db4323 !important; }
.o_booking_occupancy_gantt .o_gantt_color_9 { background-color: #d73027 !important; }
