$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_fitness': (
            'o-color-1': #c7ff33,
            'o-color-2': #744B20,
            'o-color-3': #FFFFFF,
            'o-color-4': #FFFFFF,
            'o-color-5': #000000,
            'menu': 5,
            'footer': 5,
            'o-cc1-btn-secondary': #121212,
            'o-cc2-btn-secondary': #121212,
            'o-cc4-btn-secondary': #FFFFFF,
            'o-cc5-btn-secondary': #FFFFFF,
            'o-cc1-link': #121212,
            'o-cc2-link': #121212,
            'o-cc5-link': #FFFFFF,
            'input': #FFFFFF,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_fitness',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': null,
        'headings-font': 'Archivo Black',
        'navbar-font': null,
        'buttons-font': null,
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'default',
        'footer-template': 'default',
        'footer-scrolltop': false,
        'google-fonts': ('Archivo', 'Archivo Black'),
        'h1-font-size': 3.5rem,
        'btn-primary-outline': false,
        'btn-primary-flat': false,
        'btn-secondary-outline': true,
        'btn-secondary-flat': false,
        'btn-padding-y': 0.5rem,
        'btn-padding-x': 1.25rem,
        'btn-border-radius': 1.875rem,
        'menu-box-shadow': none,
        'logo-height': 1.875rem,
        'fixed-logo-height': 1.875rem,
        'header-links-style': 'underline',
        'header-text-color': var(--o-color-4),
        'h2-font-size': 3rem,
        'h3-font-size': 2.25rem,
        'headings-margin-bottom': 16px,
        'input-border-radius': 0.5rem,
        'input-border-width': 0.0625rem,
        'display-1-font-size': 7.5rem,
        'btn-secondary-outline-border-width': 0.125rem,
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_fitness');
