$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom': (
            'o-color-1': #736752,
            'o-color-2': #C0AD8E,
            'o-color-3': #F5F0F0,
            'o-color-4': #FFFFFF,
            'o-color-5': #2F2619,
            'menu': 1,
            'footer': 5,
            'input': #F5F0F0,
            'o-cc1-btn-primary': #2F2619,
            'o-cc2-btn-primary': #2F2619,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Poppins',
        'headings-font': 'Gloock',
        'navbar-font': null,
        'buttons-font': null,
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'hamburger',
        'footer-template': 'descriptive',
        'footer-scrolltop': false,
        'logo-height': 3.4375rem,
        'fixed-logo-height': 2.75rem,
        'google-fonts': ('Gloock', 'DM Mono'),
        'menu-shadow-class': '''',
        'menu-box-shadow-style': null,
        'input-padding-y': 0.75rem,
        'input-font-size': 1rem,
        'input-border-radius-sm': 0.5rem,
        'input-border-radius-lg': 1rem,
        'input-border-radius': 0.5rem,
        'font-weight-normal': null,
        'lead-font-weight': null,
        'font-weight-bolder': null,
        'hamburger-position': 'left',
        'h2-font-size': 3rem,
        'h3-font-size': 2.5rem,
        'h4-font-size': 2rem,
        'h5-font-size': 1.625rem,
        'font-size-base': 1rem,
        'small-font-size': 0.875rem,
        'display-1-font-size': 4.5rem,
        'btn-border-radius': 10rem,
        'btn-padding-y': 0.5rem,
        'btn-padding-x': 1rem,
        'display-1-line-height': 1,
        'display-2-line-height': 1,
        'footer-effect': 'slideout_slide_hover',
        'header-links-style': 'default',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom');
